# Limpieza del dataset de bienes raíces

Este es un conjunto de datos (dataset) reales que fue descargado usando técnicas de web scraping. El archivo contiene registros de **Fotocasa**, el cual es uno de los sitios más populares de bienes raíces en España. Contiene miles de datos de casas reales publicadas en la web www.fotocasa.com.

El dataset fue descargado hace algunos años y en ningún caso se obtuvo beneficio económico de ello.

Tu objetivo es extraer tanta información como sea posible con el conocimiento que tienes hasta ahora de ciencia de datos.

Agrega observaciones, conclusiones o notas acerca de los datos obtenidos en cada ejercicio.

In [394]:
import pandas as pd

#### Ejercicio 00

Lee el dataset data/real_estate.csv e intenta visualizar la tabla (★☆☆)

In [395]:
# Este archivo CSV contiene puntos y comas en lugar de comas como separadores
df = pd.read_csv('real_estate.csv', sep=';')
df

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
0,1,153771986,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,103.0,195000,...,0,0,0,0,0,0,"40,2948276786438","-3,44402412135624",NaN,NaN
1,2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,...,0,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN
2,3,153430440,False,look find boadilla,916350408.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,390000,...,0,0,0,0,0,0,"40,4115646786438","-3,90662252135624",NaN,NaN
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,...,0,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN
4,5,153180188,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,106.0,172000,...,0,0,0,0,0,0,"40,2998774864376","-3,45226301356237",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15330,15331,153901377,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,1.0,96.0,259470,...,0,0,0,0,0,0,"40,45416","-3,70286",NaN,NaN
15331,15332,150394373,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,150.0,165000,...,0,0,0,0,0,0,"40,36652","-3,48951",NaN,NaN
15332,15333,153901397,False,tecnocasa torrelodones,912780348.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,4.0,2.0,175.0,495000,...,0,0,0,0,0,0,"40,57444","-3,92124",NaN,NaN
15333,15334,152607440,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,101.0,195000,...,0,0,0,0,0,0,"40,36967","-3,48105",NaN,NaN
15334,15335,153901356,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,152.0,765000,...,0,0,0,0,0,0,"40,45773","-3,69068",NaN,NaN

## Trabajando con un DataFrame

#### Ejercicio 01

¿Cuál es la casa más cara del dataset? (★☆☆)

Imprime la dirección y el precio de la casa seleccionada. Para visualizar el resultado utiliza un f-string. Por ejemplo:

```py
f'La casa más cara se encuentra en la dirección: {address} y su precio es {price} €'
```

In [396]:
df.columns

Index(['Unnamed: 0', 'id_realEstates', 'isNew', 'realEstate_name',
       'phone_realEstate', 'url_inmueble', 'rooms', 'bathrooms', 'surface',
       'price', 'date', 'description', 'address', 'country', 'level1',
       'level2', 'level3', 'level4', 'level5', 'level6', 'level7', 'level8',
       'upperLevel', 'countryId', 'level1Id', 'level2Id', 'level3Id',
       'level4Id', 'level5Id', 'level6Id', 'level7Id', 'level8Id', 'accuracy',
       'latitude', 'longitude', 'zipCode', 'customZone'],
      dtype='object')

In [397]:
# TODO
max_price = df['price'].max()
max_house = df.loc[df['price'] == max_price].iloc[0]
address = max_house['address']
price = max_house['price']
mensaje = f'La casa más cara se encuentra en la dirección: {address} y su precio es {price:,.2f} €'
mensaje

'La casa más cara se encuentra en la dirección: El Escorial y su precio es 8,500,000.00 €'

#### Ejercicio 02

¿Cuál es la casa más barata del dataset? (★☆☆)

Imprime la dirección y el precio de la casa seleccionada utilizando f-string

In [398]:
min_price = df['price'].min()
min_house = df.loc[df['price'] == min_price].iloc[0]
address = min_house['address']
price = min_house['price']
mensaje = f'La casa más economica se encuentra en la dirección: {address} y su precio es {price:,.2f} €'
mensaje

'La casa más economica se encuentra en la dirección: Parla y su precio es 0.00 €'

#### Ejercicio 03

¿Cuál es la casa más grande del dataset? (★☆☆)

Imprime la dirección y el área de las casas seleccionadas utilizando f-string

In [399]:
max_grande = df['surface'].max()
max_house = df.loc[df['surface'] == max_grande].iloc[0]
address = max_house['address']
surface = max_house['surface']
country = max_house['level1']
mensaje = f'La casa más grande se encuentra en la dirección: {address} en {country} y su superficie es de {surface:,.2f} mtrs2'
mensaje

'La casa más grande se encuentra en la dirección: Sevilla la Nueva en Madrid y su superficie es de 249,000.00 mtrs2'

#### Ejercicio 04

¿Cuál es la casa más pequeña del dataset? (★☆☆)

In [400]:
min_small = df['surface'].min()
min_house = df.loc[df['surface'] == min_small].iloc[0]
address = min_house['address']
surface = min_house['surface']
country = min_house['level1']
mensaje = f'La casa más pequeña se encuentra en la dirección: {address} en {country} y su superficie es de {surface} mtrs2'
mensaje

'La casa más pequeña se encuentra en la dirección: Calle Amparo,  Madrid Capital en Madrid y su superficie es de 15.0 mtrs2'

#### Ejercicio 05.

¿El dataset contiene valores no admitidos (NAs)? (★☆☆)

- Muestra el nombre de las filas seguidas por un booleano (`True` o `False`) según contengan o no contengan NAs.
- También muestra el nombre de las columnas seguidas por un booleano (`True` o `False`) según contengan o no contengan NAs.

In [401]:
# Mostramos las filas que contengan en alguna de sus columnas NA

df_nas = df.isnull()
df_nas

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15330,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
15331,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
15332,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
15333,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
15334,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True

In [402]:
# Mostramos las columnas que contengan en alguna de sus celdas NA poniendo true (hay NA) o false.

columnas_con_nas = df.isnull().any()
columnas_con_nas

Unnamed: 0          False
id_realEstates      False
isNew               False
realEstate_name      True
phone_realEstate     True
url_inmueble        False
rooms                True
bathrooms            True
surface              True
price               False
date                False
description          True
address             False
country             False
level1              False
level2              False
level3              False
level4               True
level5              False
level6               True
level7               True
level8               True
upperLevel          False
countryId           False
level1Id            False
level2Id            False
level3Id            False
level4Id            False
level5Id            False
level6Id            False
level7Id            False
level8Id            False
accuracy            False
latitude            False
longitude           False
zipCode              True
customZone           True
dtype: bool

In [403]:
# No es lo que pide el ejercicio. Obviarlo.
columnas_vacias_por_fila = df_nas.apply(lambda row: list(row.index[row]), axis=1)
columnas_vacias_por_fila

0                    [level6, level8, zipCode, customZone]
1           [surface, level6, level8, zipCode, customZone]
2                    [level6, level8, zipCode, customZone]
3                    [level6, level8, zipCode, customZone]
4                    [level6, level8, zipCode, customZone]
                               ...
15330                [level4, level6, zipCode, customZone]
15331        [level6, level7, level8, zipCode, customZone]
15332    [description, level6, level8, zipCode, customZ...
15333        [level6, level7, level8, zipCode, customZone]
15334                [level4, level6, zipCode, customZone]
Length: 15335, dtype: object

In [404]:
# NO ES LO QUE PIDE EL EJERCICIO EXACTAMENTE. Obviarlo.
filas_con_nas = df.isnull().any(axis=1)
print("Filas que contienen NAs (True) o no (False):\n", filas_con_nas)

Filas que contienen NAs (True) o no (False):
 0        True
1        True
2        True
3        True
4        True
         ...
15330    True
15331    True
15332    True
15333    True
15334    True
Length: 15335, dtype: bool

# #**### Ejercicio 06.** (no me sale, astascada mas de una hora aqui, me rindo, ni con ia ni con na!)

Elimina las columnas que contengan NAs del dataset, si aplica (★★☆)

Muestra las dimensiones del DataFrame original y del DataFrame después de las eliminaciones.

In [405]:
#todo

#### Ejercicio 07

¿Cuantas poblaciones (columna level5) contiene el dataset? (★☆☆)

- Muestra una lista con los nombres de las poblaciones
- Muestra el total de las mismas

In [406]:
# lista de poblaciones
poblaciones = df['level5'].unique()

# Calcular el total de poblaciones
total_poblaciones = len(poblaciones)

display (poblaciones.tolist())

display('Total de poblaciones:', total_poblaciones)

['Arganda del Rey',
 'Fuenlabrada',
 'Boadilla del Monte',
 'Las Rozas de Madrid',
 ' Madrid Capital',
 'Villaviciosa de Odón',
 'Pinto',
 'Valdemoro',
 'Navalcarnero',
 'Pozuelo de Alarcón',
 'Torrejón de Ardoz',
 'Navalagamella',
 'San Sebastián de los Reyes',
 'Rivas-vaciamadrid',
 'Alpedrete',
 'Móstoles',
 'San Fernando de Henares',
 'Coslada',
 'Becerril de la Sierra',
 'Alcalá de Henares',
 'Chinchón',
 'Parla',
 'Alcorcón',
 'El Escorial',
 'Leganés',
 'Pedrezuela',
 'Majadahonda',
 'Villanueva de la Cañada',
 'Villanueva del Pardillo',
 'Torrelodones',
 'Moralzarzal',
 'Mejorada del Campo',
 'Aranjuez',
 'Corpa',
 'Getafe',
 'Velilla de San Antonio',
 'Sevilla la Nueva',
 'San Martín de la Vega',
 'Villalbilla',
 'Collado Villalba',
 'Alcobendas',
 'El Molar (Madrid)',
 'Moraleja de Enmedio',
 'Algete',
 'Campo Real',
 'Torrejón de la Calzada',
 'Colmenar Viejo',
 'Valdemorillo',
 'Fuente El Saz de Jarama',
 'Tres Cantos',
 'Arroyomolinos (Madrid)',
 'Griñón',
 'Paracuellos de Jarama',
 'Guadarrama',
 'Titulcia',
 'Galapagar',
 'Collado Mediano',
 'Los Molinos',
 'San Lorenzo de El Escorial',
 'Loeches',
 'San Martín de Valdeiglesias',
 'Navas del Rey',
 'Bustarviejo',
 'Manzanares El Real',
 'Carabaña',
 'Casarrubuelos',
 'Cercedilla',
 'Fresnedillas de la Oliva',
 'Valdemaqueda',
 'Robledo de Chavela',
 'Miraflores de la Sierra',
 'Humanes de Madrid',
 'Valdetorres de Jarama',
 'San Agustín del Guadalix',
 'Ciempozuelos',
 'Camarma de Esteruelas',
 'Torres de la Alameda',
 'Talamanca de Jarama',
 'El Atazar',
 'Hoyo de Manzanares',
 'El Boalo - Cerceda – Mataelpino',
 'El Álamo',
 'Valdilecha',
 'Valdeolmos-Alalpardo',
 'Guadalix de la Sierra',
 'Belmonte de Tajo',
 'El Vellón',
 'Brunete',
 'Redueña',
 'Morata de Tajuña',
 'Tielmes',
 'Gargantilla del Lozoya',
 'Meco',
 'Venturada',
 'Quijorna',
 'Cenicientos',
 'Torrejón de Velasco',
 'Navacerrada',
 'Santa María de la Alameda',
 'Orusco de Tajuña',
 'Daganzo de Arriba',
 'Villamanta',
 'Anchuelo',
 'Valdaracete',
 'Ajalvir',
 'Los Santos de la Humosa',
 'Villamanrique de Tajo',
 'Colmenar de Oreja',
 'Villa del Prado',
 'Fuentidueña de Tajo',
 'Colmenar del Arroyo',
 'Valdelaguna',
 'Cubas de la Sagra',
 'Valdeavero',
 'Aldea del Fresno',
 'Ribatejada',
 'Torrelaguna',
 'Batres',
 'Pezuela de las Torres',
 'Colmenarejo',
 'Serranillos del Valle',
 'Cobeña',
 'Soto del Real',
 'El Berrueco',
 'Villanueva de Perales',
 'Fresno de Torote - Serracines',
 'Pozuelo del Rey',
 'Pelayos de la Presa',
 'La Cabrera',
 'Nuevo Baztán',
 'Perales de Tajuña',
 'Villaconejos',
 'Villarejo de Salvanés',
 'Cadalso de los Vidrios',
 'Santorcaz',
 'Madarcos',
 'Garganta de los Montes',
 'Puentes Viejas',
 'Torremocha de Jarama',
 'Valdemanco',
 'Braojos',
 'Lozoyuela-navas-sieteiglesias',
 'Piñuécar-gandullas',
 'Valdepiélagos',
 'Valverde de Alcalá',
 'Villar del Olmo',
 'Villamantilla',
 'Horcajo de la Sierra',
 'Gascones',
 'Zarzalejo',
 'Villavieja del Lozoya',
 'Brea de Tajo',
 'Estremera',
 'Chapinería',
 'Navarredonda',
 'Patones',
 'Ambite',
 'Navalafuente',
 'Lozoya',
 'Canencia',
 'Cabanillas de la Sierra',
 'Buitrago del Lozoya',
 'Fresno de Torote',
 'Robregordo',
 'Pinilla del Valle',
 'Rascafría',
 'La Hiruela',
 'Montejo de la Sierra']

'Total de poblaciones:'

168

#### Ejercicio 08

¿Cuál es la media de precios en la población (columna level5) de "Arroyomolinos (Madrid)"? (★★☆)

In [407]:
poblacion_arro= df[df['level5'] == 'Arroyomolinos (Madrid)']
media_precio = poblacion_arro['price'].mean()
f'La media de precios en Arroyomolinos (Madrid) es: {media_precio:,.2f} €'

'La media de precios en Arroyomolinos (Madrid) es: 294,541.60 €'

#### Ejercicio 09.

¿Los precios promedios de "Valdemorillo" y "Galapagar" son iguales? (★★☆)

- Muestra ambos promedios
- Escribe en una celda markdown una conclusión sobre ellos

In [408]:
poblacion_val = df[df['level5'] == 'Valdemorillo']
poblacion_gal = df[df['level5'] == 'Galapagar']

promedio_val = poblacion_val['price'].mean()
promedio_gal = poblacion_gal['price'].mean()

display(f'El promedio del precio de Valdemorillo es de {promedio_val:,.2f} €')
f'El promedio del precio de Galapagar es de {promedio_gal:,.2f} €'

# Podemos decir que el promedio de precios entre ambas poblaciones no son iguales pero si muy parecidas.

'El promedio del precio de Valdemorillo es de 363,860.29 €'

'El promedio del precio de Galapagar es de 360,063.20 €'

#### Ejercicio 10

¿Los promedios de precio por metro cuadrado (precio/m2) de "Valdemorillo" y "Galapagar" son iguales? (★★☆)

> Pista: Crea una nueva columna llamada `pps` (*price per square* o precio por metro cuadrado) y luego analiza los valores.

- Muestra ambos promedios de precio por metro cuadrado
- Escribe en una celda markdown una conclusión sobre ellos

In [409]:
# Creo columna con el calculo que necesito que me haga.
df ['pps'] = df['price'] / df['surface']

poblacion_val = df[df['level5'] == 'Valdemorillo']
poblacion_gal = df[df['level5'] == 'Galapagar']

promediomt2_val = poblacion_val['pps'].mean()
promediomt2_gal = poblacion_gal['pps'].mean()

display(f'El promedio del metro cuadrado de Valdemorillo es de {promediomt2_val:,.2f} €')
f'El promedio del metro cuadrado de Galapagar es de {promediomt2_val:,.2f} €'

#'''El error KeyError: 'surface' que aparece significa que la columna llamada 'surface' no se encuentra en tu DataFrame actual.
#Esto sucedió en el Ejercicio 06, donde eliminaste las columnas que contenían valores NA. La columna 'surface' tenía valores NA,
#por lo que fue eliminada del DataFrame en ese paso.
#Como la columna 'surface' ya no existe en el DataFrame df, no puedes acceder a ella para realizar cálculos como el precio por metro cuadrado.''
#como el ejercicio 6 no me salia, lo he "comilleado" para que no me lo ejecute y este funcione. :S

'El promedio del metro cuadrado de Valdemorillo es de 1,317.95 €'

'El promedio del metro cuadrado de Galapagar es de 1,317.95 €'

#### Ejercicio 11

¿Cuántas agencia de bienes raíces contiene el dataset? (★★☆)

- Muestra el valor obtenido.

In [410]:
agencias = df['realEstate_name'].unique()
total_agencias = len(agencias)
total_agencias

1822

#### Ejercicio 12

¿Cuál es la población (columna level5) que contiene la mayor cantidad de casas?(★★☆)

- Muestra la población y el número de casas.

In [411]:
casaspoblacion = df['level5'].value_counts()

poblacion_mas_casas = casaspoblacion.idxmax()
cantidad_casas = casaspoblacion.max()

f'La población con la mayor cantidad de casas es{poblacion_mas_casas} con {cantidad_casas} casas.'

'La población con la mayor cantidad de casas es Madrid Capital con 6643 casas.'

---

## Trabajando con un subconjunto del DataFrame

#### Ejercicio 13

Ahora vamos a trabajar con el "cinturón sur" de Madrid.

Haz un subconjunto del DataFrame original que contenga las siguientes poblaciones (columna level5): "Fuenlabrada", "Leganés", "Getafe", "Alcorcón" (★★☆)

> Pista: Filtra el DataFrame original usando la columna `level5` y la función `isin`.

In [412]:
# Haz un subconjunto del DataFrame original que contenga las siguientes poblaciones (columna level5): "Fuenlabrada", "Leganés", "Getafe", "Alcorcón"
cinturon_sur = df[df['level5'].isin(['Fuenlabrada','Leganés','Getafe', 'Alcorcón'])]
cinturon_sur

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone,pps
1,2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,...,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN,NaN
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,...,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN,1034.883721
85,86,153152077,False,sinergical inmobiliaria,NaN,https://www.fotocasa.es/es/comprar/vivienda/le...,1.0,1.0,50.0,107000,...,0,0,0,0,1,"40,35059","-3,82693",NaN,NaN,2140.000000
94,95,153995577,False,viviendas365com,911226014.0,https://www.fotocasa.es/es/comprar/vivienda/le...,3.0,2.0,120.0,320000,...,0,0,0,0,0,"40,31933","-3,77574",NaN,NaN,2666.666667
109,110,153586414,False,area uno asesores inmobiliarios,912664081.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,3.0,142.0,425000,...,0,0,0,0,0,"40,3313411","-3,8313868",NaN,NaN,2992.957746
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15275,15276,153903887,False,aliseda servicios de gestion inmobiliaria,911368198.0,https://www.fotocasa.es/es/comprar/vivienda/al...,3.0,1.0,78.0,138000,...,0,0,0,0,1,"40,31381","-3,83733",NaN,NaN,1769.230769
15291,15292,151697757,False,unipiso,912788631.0,https://www.fotocasa.es/es/comprar/vivienda/al...,3.0,2.0,110.0,279000,...,0,0,0,0,0,"40,3259051","-3,76318",NaN,NaN,2536.363636
15305,15306,153902389,False,jadein ferrero,914871639.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,85.0,170000,...,0,0,0,0,0,"40,2882193","-3,8098617",NaN,NaN,2000.000000
15322,15323,153871864,False,gestion comercial,911220662.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,91.0,112000,...,0,0,0,0,0,"40,28282","-3,78892",NaN,NaN,1230.769231
15325,15326,153901467,False,montehogar 68,911790675.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,215000,...,0,0,0,0,1,"40,28062","-3,79869",NaN,NaN,2171.717172

#### Ejercicio 14

Calcula la media y la varianza de muestra para las siguientes variables: precio, habitaciones, superficie y baños (★★★)

> Debes usar el subset obtenido en la pregunta 13

- Crea y visualiza un diccionario con todos los valores

In [413]:
cinturon_sur = df[df['level5'].isin(['Fuenlabrada','Leganés','Getafe', 'Alcorcón'])]

precio_med_csur = cinturon_sur['price'].mean()
precio_var_csur = cinturon_sur['price'].var()

hab_med_csur = cinturon_sur['rooms'].mean()
hab_var_csur = cinturon_sur['rooms'].var()

superficie_med_csur = cinturon_sur['surface'].mean()
superficie_var_csur = cinturon_sur['surface'].var()

baños_med_csur = cinturon_sur['bathrooms'].mean()
baños_var_csur = cinturon_sur['bathrooms'].var()

diccionario ={'precio medio':precio_med_csur, 'varianza precio':precio_var_csur,
              'media de habitaciones': hab_med_csur, 'varianza habitaciones':hab_var_csur,
              'superficie media':superficie_med_csur, 'varianza de superficie': superficie_var_csur,
              'media de baños': baños_med_csur, 'varianza de baños': baños_var_csur}

diccionario
# He buscado como quitar tantos decimales, lo he intentado meter en varios sitios y no he encontrado la forma {precio:,.2f}, procedo a actualizar ejercicios anteriores.

{'precio medio': np.float64(223094.48070562293),
 'varianza precio': 14921367508.049023,
 'media de habitaciones': np.float64(3.0177383592017737),
 'varianza habitaciones': 0.7188858892927564,
 'superficie media': np.float64(111.75222363405337),
 'varianza de superficie': 4263.051760316343,
 'media de baños': np.float64(1.633221850613155),
 'varianza de baños': 0.571796862557738}

#### Ejercicio 15

¿Cuál es la casa más cara de cada población del cinturón sur de Madríd? (★★☆)

> Debes usar el subset obtenido en la pregunta 13

- Genera un DataFrame con esta información
- Muestra tanto la dirección como el precio de la casa seleccionada de cada población.
- Genera conclusiones en una celda markdown

In [414]:
cinturon_sur = df[df['level5'].isin(['Fuenlabrada','Leganés','Getafe', 'Alcorcón'])]

max_price = cinturon_sur['price'].max()
max_house = cinturon_sur.loc[df['price'] == max_price].iloc[0]
address = max_house['address']
price = max_house['price']
mensaje = f'La casa más cara del cinturon sur se encuentra en la dirección: {address} y su precio es {price:,.2f} €'
mensaje

# mi conclusión es que en la vida voy a vivir en algo tan elevado. jajajaja

'La casa más cara del cinturon sur se encuentra en la dirección: Getafe y su precio es 1,050,000.00 €'

#### Ejercicio 16

¿Qué puedes decir acerca del precio por metro cuadrado (precio/m2) entre los municipios de 'Getafe' y 'Alcorcón'? (★★☆)

> Debes usar el subset obtenido en la pregunta 13
>
> Pista: Crea una nueva columna llamada `pps` (price per square en inglés) y luego analiza los valores

In [415]:
# Cargar el dataset original en un nuevo DataFrame
df_original = pd.read_csv('real_estate.csv', sep=';')

# Verificar si la columna 'surface' existe en el DataFrame original
if 'surface' in df_original.columns:
    print("La columna 'surface' SÍ existe en el DataFrame original.")
else:
    print("La columna 'surface' NO existe en el DataFrame original.")

#lo he creado porque me saltaba una y otra vez un error, donde me decia que habia eliminado la columna 'surface' en el ejercicio6,
#cuando este ejercicio lo he borrado para ver si podia arreglar el error.

La columna 'surface' SÍ existe en el DataFrame original.

In [416]:
# He recreado cinturon_sur desde el original para asegurar que la columna 'surface' esté.
cinturon_sur = df_original[df_original['level5'].isin(['Fuenlabrada','Leganés','Getafe', 'Alcorcón'])].copy()

cinturon_sur['pps'] = cinturon_sur['price'] / cinturon_sur['surface'].replace(0, pd.NA)

getafe = cinturon_sur[cinturon_sur['level5'] == 'Getafe'].copy()
alcorcon = cinturon_sur[cinturon_sur['level5'] == 'Alcorcón'].copy()

promediogetafe = getafe['pps'].mean()
promedioalcorcon = alcorcon['pps'].mean()


display (f'El promedio del precio por metro cuadrado en Getafe es: {promediogetafe:.2f} €/m²')
f'El promedio del precio por metro cuadrado en Alcorcón es: {promedioalcorcon:.2f} €/m²'

'El promedio del precio por metro cuadrado en Getafe es: 2066.31 €/m²'

'El promedio del precio por metro cuadrado en Alcorcón es: 2239.30 €/m²'

## Conclusiones

#### Ejercicio 17

Escribe aquí tus conclusiones acerca de este proyecto

Me ha resultado muy dificl, sobre todo en la busqueda de todos los .mean .var .max...etc, ya que la web (https://pandas.pydata.org/docs/reference/frame.html)se me traduce al español y la lupita de la busqueda no me entendia...

El ejercicio 6 no lo he conseguido resolver. cada vez que lo intento el resto de ejercicios se va al decirme que 'surface' ha sido eliminado.